<?xml version="1.0" ?>
<launch>
 
 # You can fill in here the name of your DS or pass it through the command line or another launch file!
 <arg name="DS_name"       default="sink-pqlf"/>
 <arg name="viz_DS_path"   default="true"/>
# Example Options:
  - CShape-bottom-pqlf
  - CShape-top-pqlf
  - sink-pqlf
  - via-point-pqlf
  - ...

# Things to Know!
# input_topic name should contain          -- geometry_msgs::Pose
# output_topic_name will write to          -- geometry_msgs::Twist
# output_orientation_topic_name will write -- geometry_msgs::Quaternion
<group ns="ds1">
    <param name="input_topic_name"                  value="/lwr/ee_pose"/>
    <param name="output_topic_name"                 value="/ds1/desired_velocity"/>
    <param name="output_filtered_topic_name"        value="/lwr/joint_controllers/passive_ds_command_vel"/>
    <param name="publish_DS_path"                   value="false"/>
    <rosparam command="load" file="$(find ds_motion_generator)/config/learned_DS/lpvDS/$(arg DS_name).yml"/>
    <node name="lpvDS_node" pkg="ds_motion_generator"  type="lpvDS_motionGenerator_node" output="screen"/>
</group>

<group if="$(arg viz_DS_path)">
  <group ns="ds1_path">
      <param name="input_topic_name"                  value="/lwr/ee_pose"/>
      <param name="output_topic_name"                 value=""/>
      <param name="output_filtered_topic_name"        value=""/>    
      <param name="publish_DS_path"                   value="true"/>
      <rosparam command="load" file="$(find ds_motion_generator)/config/learned_DS/lpvDS/$(arg DS_name).yml"/>
      <node name="lpvDS_node" pkg="ds_motion_generator"  type="lpvDS_motionGenerator_node" output="screen"/>
  </group>
</group>

# This node published the desired orientation at the target (Orientation for table scenarios)
  <node pkg="rostopic" type="rostopic" name="angle_setting" args="pub /lwr/joint_controllers/passive_ds_command_orient geometry_msgs/Quaternion '{x: -0.0426, y: 0.998, z:  0.0039, w: -0.0356}' -r 100" />

# This node published the desired orientation at the target (Orientation for shelf scenario)
  <!-- <node pkg="rostopic" type="rostopic" name="angle_setting" args="pub /lwr/joint_controllers/passive_ds_command_orient geometry_msgs/Quaternion '{x: 0.6811, y:  -0.300, z:  -0.3109, w:  0.5906}' -r 100" /> -->

</launch>
